<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nearby"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>nearby</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="nearby" src="www/nearby.js">
        <clobbers target="cordova.plugins.nearby" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="nearby">
                <param name="android-package" value="cordova-plugin-nearby.nearby" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        <source-file src="src/android/nearby.java" target-dir="src/cordova-plugin-nearby/nearby" />
    </platform>
</plugin>
